{% extends 'base.html' %}

{% block content %}
<div class='profile'>
    <div class='profile-block' id='avatar'>
        <img src={{ current_user.avatar(128)}}>
    </div>

    <div class="profile-block" id='info'>
        Name: {{ user.username}} <br>
        From: {{user.city}}<br>
        
        {% if user.about %}
            About: {{user.about}}<br>    
        {% endif %}

        {% if user.last_seen %}
            Last seen on: {{ user.last_seen }}  
        {% endif %}

        
    </div>
</div>

<div class='posts'>
    <!-- here i will post all the postings by the user-->
</div>


    
{% endblock content %}

